# https://www.dartlang.org/tools/private-files.html

pubspec.lock

build/
.packages
packages

.pub
doc

.buildlog
*.js_
*.js.deps
*.js.map
*.dart.js

# Eclipse
.project

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store

.atom/
